{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<main class="container text-center">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-start" scope="col">Symbol</th>
                <th class="text-start" scope="col">Name</th>
                <th class="text-end" scope="col">Shares</th>
                <th class="text-end" scope="col">Price</th>
                <th class="text-end" scope="col">Total</th>
                <th class="text-end" scope="col">Action</th>
                <th class="text-end" scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for action in pastactions %}
                <tr>
                    <td class="text-start">{{ action["symbol"] }}</td>
                    <td class="text-start">{{ action["name"] }}</td>
                    <td class="text-end">{{ action["SUM(shares)"] }}</td>
                    <td class="text-end">{{ action["price"] | usd}}</td>
                    <td class="text-end">{{ action["total"] | usd}}</td>
                    <td class="text-end">{{ action["action"] }}</td>
                    <td class="text-end">{{ action["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}