{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ result["name"] }}</td>
                <td>{{ result["price"] }}</td>
                <td>{{ result["symbol"] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}